In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
df = pd.read_csv('world-happiness-report.csv')
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [3]:
df_pivot = df.pivot_table(index = 'Country name', columns = 'year', values = 'Freedom to make life choices').fillna(0)
df_pivot

year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country name,,,,,,,,,,,,,,,,
Afghanistan,0.000,0.000,0.000,0.718,0.679,0.600,0.496,0.531,0.578,0.509,0.389,0.523,0.427,0.374,0.394,0.000
Albania,0.000,0.000,0.529,0.000,0.525,0.569,0.487,0.602,0.632,0.735,0.704,0.730,0.750,0.824,0.777,0.754
Algeria,0.000,0.000,0.000,0.000,0.000,0.593,0.530,0.587,0.000,0.000,0.000,0.000,0.437,0.583,0.385,0.000
Angola,0.000,0.000,0.000,0.000,0.000,0.000,0.584,0.456,0.410,0.375,0.000,0.000,0.000,0.000,0.000,0.000
Argentina,0.000,0.733,0.653,0.678,0.637,0.730,0.816,0.747,0.737,0.745,0.881,0.848,0.832,0.846,0.817,0.823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0.838,0.798,0.000,0.678,0.677,0.768,0.766,0.804,0.642,0.570,0.512,0.458,0.636,0.611,0.626,0.612
Vietnam,0.000,0.886,0.918,0.889,0.834,0.831,0.818,0.856,0.920,0.000,0.000,0.894,0.000,0.909,0.952,0.000
Yemen,0.000,0.000,0.673,0.000,0.644,0.659,0.638,0.706,0.543,0.664,0.610,0.533,0.595,0.553,0.651,0.000
Zambia,0.000,0.721,0.682,0.717,0.696,0.000,0.663,0.788,0.770,0.812,0.759,0.812,0.823,0.791,0.811,0.750
Zimbabwe,0.000,0.431,0.456,0.344,0.411,0.665,0.633,0.470,0.576,0.642,0.667,0.733,0.753,0.763,0.632,0.643

In [4]:
from scipy.sparse import csr_matrix
df_pivot_matrix = csr_matrix(df_pivot.values)
print(df_pivot_matrix)

  (0, 3)	0.718
  (0, 4)	0.679
  (0, 5)	0.6
  (0, 6)	0.496
  (0, 7)	0.531
  (0, 8)	0.578
  (0, 9)	0.509
  (0, 10)	0.389
  (0, 11)	0.523
  (0, 12)	0.42700000000000005
  (0, 13)	0.374
  (0, 14)	0.39399999999999996
  (1, 2)	0.529
  (1, 4)	0.525
  (1, 5)	0.569
  (1, 6)	0.48700000000000004
  (1, 7)	0.602
  (1, 8)	0.632
  (1, 9)	0.735
  (1, 10)	0.7040000000000001
  (1, 11)	0.73
  (1, 12)	0.75
  (1, 13)	0.8240000000000001
  (1, 14)	0.777
  (1, 15)	0.754
  :	:
  (164, 6)	0.6629999999999999
  (164, 7)	0.7879999999999999
  (164, 8)	0.77
  (164, 9)	0.812
  (164, 10)	0.759
  (164, 11)	0.812
  (164, 12)	0.823
  (164, 13)	0.7909999999999999
  (164, 14)	0.8109999999999999
  (164, 15)	0.75
  (165, 1)	0.431
  (165, 2)	0.456
  (165, 3)	0.344
  (165, 4)	0.41100000000000003
  (165, 5)	0.665
  (165, 6)	0.633
  (165, 7)	0.47
  (165, 8)	0.5760000000000001
  (165, 9)	0.642
  (165, 10)	0.667
  (165, 11)	0.733
  (165, 12)	0.753
  (165, 13)	0.763
  (165, 14)	0.632
  (165, 15)	0.643

Fitting Data into NearestNeighborsModel

In [5]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', n_neighbors = 20, radius = 1)
model_knn.fit(df_pivot_matrix)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                 radius=1)

Matrix of Cosine Similarity

In [6]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(df_pivot)
similarity_matrix

array([[1.        , 0.80871338, 0.63023083, ..., 0.85946865, 0.8226579 ,
        0.85359577],
       [0.80871338, 1.        , 0.65998197, ..., 0.92812349, 0.90218336,
        0.96344754],
       [0.63023083, 0.65998197, 1.        , ..., 0.70966933, 0.53306046,
        0.67438527],
       ...,
       [0.85946865, 0.92812349, 0.70966933, ..., 1.        , 0.84579688,
        0.90473015],
       [0.8226579 , 0.90218336, 0.53306046, ..., 0.84579688, 1.        ,
        0.94158242],
       [0.85359577, 0.96344754, 0.67438527, ..., 0.90473015, 0.94158242,
        1.        ]])

In [7]:
Country_name = (input("Enter Country Name according to the Data Set: "))
data = list(df_pivot.index)
print(data)

Enter Country Name according to the Data Set: India
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'Somaliland region', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [8]:
query_index = data.index(Country_name)
print(query_index)

63

In [9]:
similarity, indices = model_knn.kneighbors(df_pivot.iloc[query_index,:].values.reshape(1, -1), 
                                           n_neighbors = 8)
print(similarity)
print(indices)

[[0.         0.00227974 0.0024627  0.002677   0.0032599  0.00341932
  0.0038467  0.00397296]]
[[ 63 123  78  44   4 147 134 148]]

Create Dictionary and store recommendations of Country_name
Which is given by USER

In [10]:
data_dict = {}
for i in range(0, len(similarity.flatten())):
    if i == 0:
        print('Recommendation for {0}: \n'.format(df_pivot.index[query_index]))
    else:
        data_dict[str(df_pivot.index[indices.flatten()[i]])] = float(similarity.flatten()[i])
        print(f'{df_pivot.index[indices.flatten()[i]]}, has similarity with {similarity.flatten()[i]: .20f}: ')
print(data_dict)

Recommendation for India:

Russia, has similarity with  0.00227974004553310738:
Kyrgyzstan, has similarity with  0.00246269918957842116:
El Salvador, has similarity with  0.00267700172689222526:
Argentina, has similarity with  0.00325990252875518749:
Tanzania, has similarity with  0.00341931835439546195:
South Africa, has similarity with  0.00384669908864976318:
Thailand, has similarity with  0.00397296000686542250:
{'Russia': 0.0022797400455331074, 'Kyrgyzstan': 0.002462699189578421, 'El Salvador': 0.0026770017268922253, 'Argentina': 0.0032599025287551875, 'Tanzania': 0.003419318354395462, 'South Africa': 0.003846699088649763, 'Thailand': 0.0039729600068654225}